<html>

<head>
    <title>Text-to-Speech Example Application</title>
    <script src="../static/js/src.js"></script>
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>

<body>
    <div>
        <label for="voice">Select a voice:</label>
        <select id="voice" name="voiceId" disabled>
                <option value="">Choose a voice...</option>
        </select>
    </div>
    <input type="button" value="Reaaaaaaaaad" id="button" />

    <header id="header">
        <h1>
            <a href="/"><img src="../static/images/iekei.png" width="220" height="50" alt="家系ヌ～ドルズ" /></a>
        </h1>
        <nav class="pc-nav">
            <ul>
                <li><a href="#">introduce</a></li>
            </ul>
        </nav>
    </header>
    <div class="honbun">
        <br><br><br><br>
        <p id="nemui">
            「眠たい」「退屈やな」<br>
        </p>
        運転中にそんなことを思ったことはありませんか。<br> これを使えばそんな悩みもすぐに解決！
        <br> まるで誰かと一緒にいるような感覚を味わえることでしょう。
        <br><br> さあ、良い運転ライフを！
        <br><br>
    </div>

    <div class="option">
        <p class="p_gen">select a mode</p>
        <input type="radio" name="rd_op" id="all" class="opt">
        <label for="all" class="unsp" id="opt_radio">指定なし</label>
        <input type="radio" name="rd_op" id="restaurant" class="opt">
        <label for="restaurant" class="rest" id="opt_radio">飲食店系</label>
        <input type="radio" name="rd_op" id="amusement" class="opt">
        <label for="amusement" class="amuse" id="opt_radio">娯楽系</label>
    </div>
    <br>

    <form id="radiobuttons" name="radiobuttons">
        <input type="radio" name="rd" id="male" class="gender" value="Takumi" checked>
        <label for="male" id="gender_radio" class="man_radio"><img src="../static/images/male.png" width="50" height="50" /><br>man</label>

        <input type="radio" name="rd" id="female" class="gender" value="Mizuki">
        <label for="female" id="gender_radio" class="woman_radio"><img src="../static/images/female.png" width="50" height="50" /><br>woman</label>
    </form>
    <br><br>
    <div class="start">
        <button id="start_button" type="button">START</button>
    </div>
    <audio id="player"></audio>
</body>

</html>